/*GENERAL STYLING*/

@font-face {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  src: local('Viga-Regular'), url(https://fonts.gstatic.com/s/viga/v6/ysvjm4ygfCN9igDTKjiHkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: local('Palanquin Dark Regular'), local('PalanquinDark-Regular'), url(https://fonts.gstatic.com/s/palanquindark/v3/PamTqrrgbBh_M3702w39rFB-msKTlljNM7lKNVQCFlM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html {
  font-size: 16px;
  font-family: 'Viga', sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem auto;
  font-weight: bold;
  font-family: 'Palanquin Dark', sans-serif;
}

h3 {
  font-size: 2rem;
}

p, a {
  line-height: 2;
}

a {
  color: blue;
}


.left-column {
  width: 60%;
  margin: 2rem 1.5rem;
}

.left-column img {
  height: auto;
  width: 100%;
}

.left-column h3 {
  text-align: center;
}

.right-column {
  width: 40%;
  margin-top: 2rem;
}

/*HEADER SECTION*/

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.navbar, .logo, .nav-list {
  display: flex;
  align-items: center;
}

.nav-list {
  overflow: hidden;
}

.navbar {
  height: 4rem;
  width: 100%;
}

.logo {
  flex-grow: 1;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}


.mobile-nav-list {
    display: none;
}

@media only screen and (max-width: 720px) {
  .logo span {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .mobile-nav-list {
    display: inherit;
  }
  .logo {
    flex-grow: 0;
  }
  .navbar, .logo, .mobile-nav-list {
    justify-content: space-between;
  }
}


/*BANNER SECTION*/

.banner {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  background-color: #a2a5ad;
}

.banner-right {
  width: 40%;
  text-align: left;/*
  padding-left: 1.5rem;
  margin-right: 1rem;*/
}

.banner-right h1 {
  text-align: left;
}

.banner-right span {
  line-height: 2;
}


#button {
  display: flex;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: black;
  justify-content: center;
  padding: 0.5rem auto;
  align-items: center;
  margin-top: 2rem;
  opacity: 0.7;
}

@media only screen and (max-width: 720px) {
  .banner {
    flex-direction: column;
  }
  .left-column {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .banner-right {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
  }
  .right-column {
    width: 100%;
  }
  #button {
    margin-bottom: 1rem;
  }
}

/*TOP BODY SECTION*/

.top {
  display: flex;
  align-items: center;
}

.box {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.box-right {
  display: inline-flex;
  max-width: 65%;
}

.BRR {
  align-items: center;
}

.box img {
  width: 35%;
  margin: 1rem;
  height: auto;
}

.box h3 {
  line-height: 1.25;
}

#citation {
  margin: 1rem 0;
}

.mobile-img {
  display: none;
}

@media only screen and (max-width: 720px) {
  .top .left-column {
    display: none;
  }
  .box {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .box img {
    width: 100%;
  }
  .box-right{
    width: 100%;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: inherit;
    width: 100%;

  }

}

/*MIDDLE BODY SECTION*/

.mid {
  background-color: #a2a5ad;
}

.mid .title {
  padding-top: 0.25rem;
}

.middle {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.middle {
  padding: 0 4.5rem 2rem 4.5rem;
}


.course {
  width: 30%;

}

.course-title, .subtitle, .course-list {
  margin-left: 1rem;
  margin-right: 1rem;
}

.course-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.course-list {
  margin-bottom: 1.5rem;
}

.course-sub {
  background-color: #fff;
  height: 30rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

@media only screen and (max-width: 720px) {
  .course-sub img, .subtitle, .course-list {
    display: none;
  }
  .middle {
    display: initial;
    width: 100%;
    padding: 0;
  }
  .mid {
    margin-bottom: 1rem;
  }
  .course {
    width: 100%;
    margin-bottom: 1rem;
  }
  .course-sub {
    height: initial;
    padding: 1rem;
    margin: 1rem;
  }
  .course-title {
    margin: 0;

  }
}

/*BOTTOM BODY SECTION*/

video {
  width: 100%;
}

.bottom-content {
  display: flex;
}

.bottom-content .left-column, .bottom-content .right-column {
  margin-top: 0;
}

@media only screen and (max-width: 720px) {
  .bottom-content .left-column h3, .bottom-content .left-column p {
    display: none;
  }
  .bottom-content .right-column {
    display: none;
  }

}

/*FOOTER SECTION*/

footer {
  width: 100%;
  display: inline-flex;
  height: 4rem;
  align-items: center;
  border: 1px solid #a2a5ad;
}

footer span {
  flex-grow: 1;
  margin-left: 1.5rem;
}
